 

/* .flex{
    display: flex;
    justify-content: center;
    align-items: center;
 
}  */


 
/*   
  .div{
 background-image: url(syaoran-7-CGi38UWRw0Y-unsplash.jpg);
 background-size: cover;
 background-position: bottom;
 width: 400px;
 height: 500px;
 
   
  }
 
  .main-container {
    background-color: #b94b4b; /* Choose your desired color */
  /* } */
   
/* 
  .btn1{
background-color: greenyellow;
border-radius: 10px;
height: 60px;
width: 100px;
padding: 5px;
color: red;
border: none;
  }

  #btn1{
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(132, 221, 132);
    background-color: red;
    border: none;


  } */

  


  
